@using Common.Enums
@using Common.ViewModels
@model Common.ViewModels.ServiceViewModel

@{
    ViewBag.Title = $"Edycja usługi {Model.Name}";
    Layout = "_Layout";
}
@await Html.PartialAsync("PageTitle/_PageTitle", ViewData["Title"])
<div class="paddingpage">
    <form asp-action="Edit">
        <partial name="Buttons/_BackSaveButton" model="@Model.Code"/>
        <div class="card">
            <div class="card-content">
                <div asp-validation-summary="ModelOnly" class="invalid"></div>
                <div class="row">
                    <div class="input-field col s12  m6">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="input-form"/>
                        <span asp-validation-for="Name" class="invalid"></span>
                    </div>
                    <div class="input-field col s12  m6">
                        <label asp-for="Code"></label>
                        <input asp-for="Code" class="input-form" readonly="readonly"/>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m8 ">
                        <label asp-for="Price"></label>
                        <input asp-for="Price" class="input-form"/>
                        <span asp-validation-for="Price" class="invalid"></span>
                    </div>
                    <div class="input-field col s12 m2 ">
                        <select asp-for="Tax">
                            @foreach (var item in TaxRateListViewModel.TaxRate)
                            {
                                if (item.Key == Model.Tax)
                                {
                                    <option value="@item.Key" selected="selected">@item.Value</option>
                                    continue;
                                }
                                <option value="@item.Key">@item.Value</option>
                            }
                        </select>
                        <label asp-for="Tax"></label>
                    </div>
                    <div class="input-field col s12 m2 ">
                        <label asp-for="BasicUnit" class="active"></label>
                        <select asp-for="BasicUnit" class="input-form" asp-items="Html.GetEnumSelectList<BasicUnitService>()"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <label asp-for="Description"></label>
                        <textarea asp-for="Description" class="input-form materialize-textarea"></textarea>
                        <span asp-validation-for="Description" class="invalid"></span>


                    </div>
                </div>

            </div>
        </div>
        <input asp-for="CreatedDateTime" type="hidden"/>
    </form>
</div>

@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }
    <script>
        document.addEventListener("DOMContentLoaded",
            (event) => {
                FormHelper.blurValidate();
                $("#Description").characterCounter();

            });


    </script>
}